<section class="section background">
  <div class="section__title"> <i class="fas fa-address-card"> </i> About Me</div>
  <div class="section__content">
<p>
 I grew up in Himachal Pradesh, India surrounded by stunning landscapes, a close-knit community, and a vibrant culture. I yet faced the limitations of scarce resources and opportunities. 
 These formative experiences highlighted the importance of education, how the environment shapes one’s standard of living and life trajectory and personal growth. Spending nearly 12 years in a reputed boarding school instilled independence, discipline, and adaptability, shaping the foundation for how I approach challenges. After high school, I immigrated to the United States, navigating my higher education while assimilating in the American culture and blending my Indian heritage with a global perspective. 
I completed my studies at the 
<a class="underline-link" href="http://www.uw.edu/" target="_blank">University of Washington</a>'s 
<a class="underline-link" href="https://cs.washington.edu/" target="_blank">Paul G. Allen School of Computer Science & Engineering</a> in Seattle, graduating with a Bachelor of Science in Computer Engineering, and went on to build a career in technology.
</p>

<p>
I am currently a Staff Software Engineer at <a class="underline-link" href="https://www.tesla.com/" target="_blank">Tesla Inc.</a>, contributing to fintech software systems that support Tesla's mission of accelerating the world's transition to sustainable energy. 
I focus on building scalable, impactful, and user-centric software, combining technical expertise with a thoughtful, problem-solving approach that reflects my values of precision, curiosity, and continuous learning.
</p>

<p>
My life experiences have shaped a perspective that values integrity, reflection, and intentionality and as a result, I approach life as a continuous learning journey as a curious student seeking opportunities to grow, create meaningful impact, and cultivate relationships rooted in respect, shared principles, and mutual development.
</p>

<p>
<strong>Outside of work,</strong> I enjoy hiking, which fuels solitude, reflection and resilience; reading and listening to podcasts to expand my perspectives; cooking as a creative and mindful practice; and traveling or enjoying sunrises and sunsets with loved ones, which reminds me to stay present and grateful.
</p>

<p>
Please feel free to reach out via text, call, or email for the fastest response. If you do not have my phone number, you may request it via email. Responses via social media may be delayed.
</p>


    <!-- You can learn more about me from  <a class="underline-link" href="./principles/" target="_blank">my life principles</a>. -->

    <!-- {% include employment-status.html %} -->
  </div>
</section>
