<section class="section background">
  <div class="section__title"> <i class="fas fa-address-card"> </i> About Me</div>
  <div class="section__content">
    <p>
      I'm currently working as a Senior Software Engineer at <a class="underline-link" href="https://www.tesla.com/" target="_blank">Tesla Inc.</a> helping to build and maintain the payments and fintech 
      software systems to support Tesla's mission to accelerate the world's transition to sustainable energy.
    </p>

    <p>
      In 2019, I graduated with a Bachelor's of Science in Computer Engineering
      <a class="underline-link" href="http://www.uw.edu/" target="_blank">University of Washington's</a> 
      <a class="underline-link" href="https://cs.washington.edu/" target="_blank">Paul G. Allen School of Computer Science & Engineering</a> in
      <a class="underline-link" href="https://www.google.com/maps/place/Seattle,+WA/" target="_blank">Seattle, Washington</a>.
    </p>

    <p>
      As a software engineer, I enjoy learning about new technologies, designing quality software &mdash; combining my technical knowledge
      with my curosity to ship scalable, engaging and customer focused product.
    </p>

    <p>
      <strong>When not in front of computer,</strong>, I'm probably hiking, reading books, working out, cooking,  listening to great podcasts, travelling
      or enjoying a sunset/sunrise with friends or family.
    </p>
    <p>
      <strong>The best way to reach me </strong> is via text, call or Email. If you do not have my phone number, you may request it using my email. 
      If contacting via social media, please expect delays in response.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
