<section class="section experience">
  <div class="section__title"><i class="fa fa-book" aria-hidden="true"></i> Education</div>
  <div class="section__content">
    <div class="jobs">
      {% for education in site.data.education %}
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <img src="./img/logos/{{education.logo}}.png" height="30" style="vertical-align:middle;"> 
            <a href="{{education.url}}" target="_blank">  {{education.institution}}</a>
          </div> 
           <div class="job__time"> {{education.time}} 
          </div>
        </div>
        <div class="position">{{education.course}}
          <div><img src="./img/flags/{{education.flag}}.png"  width="20" style="vertical-align:middle;">  {{education.location}} </div>
        </div>
        
      </div>
      {% endfor %}
    </div>

  
  </div>
</section>
