<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      <span>Made with ❤  by </span>
    </div>
    <div class="bottom">
           <span> Uday Mahajan
    </span>
     
     
      <!-- <img class="emoji" src="{{site.baseurl}}/img/emojis/rockon.png" alt="emoji"> -->
     
    </div>
  </div>

  


  <div class="footer__copyright">
    <div class="top">
      <span>  <i class="fas fa-bullhorn"></i> &nbsp;  Credits </span>

      
    </div>
    <div class="bottom">
      <span style="font-size:10px">
       <span>Britaany Chiang [CSS]  & Matt Boldt [Typed.js]</span>
      </span>
    </div>
   </div>



    
   </div>
  </div>

  <div class="footer__copyright">
    <div class="top">
      <span> © Copyright <script>document.write(new Date().getFullYear())</script>.</span>
    </div>
    <div class="bottom">
      <span>  All Rights Reserved.</span>
      <!-- <img class="emoji" src="{{site.url}}/img/emojis/rockon.png" alt="emoji"> -->
    </div>
  </div>
<!-- 
  
  <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
     
     <span class="text"> <i class='{{link.fontawesome}}'></i></span>
    </a>
    {% endfor %}
  </div> -->
</footer>
