<section class="section background">
  <div class="section__title"> <i class="fas fa-note"></i> </i> Life Formulas </div>
  <div class="section__content">
  <p>
    &#9432; These are my notes to self that serve as reminder. 
    Your perspective and frame of reference may differ from mine.
  </p>
    <br>
    <ul>
      <li>Pain + Reflection = Progress</li>
      <li>Dreams + Failure + Perseverance = Prosperity</li>
      <li>Patience + Righteousness + Courage =&gt; Success</li>
      <li>Consistency &gt;&gt; Motivation &amp; Direction  &gt;&gt; Speed &amp; Actions  &gt;&gt; Words</li>
      <li>Happiness =  Wealth + Great Relationships + Gratitude</li>
      <li>Great Relationships =  Self-Love + Mutual : Love +  Respect + Compassion + Understanding.</li>
      <li>Social Media & News &amp; Sugar &amp; Alcohol  &rArr; Cheap Dopamine = Lifestyle Pleasures to Avoid </li>
      <li>Wealth = Health + Financial Capital + Time + Freedom.</li>
      <li>Health = Balanced Diet +  Exercise  + Sleep</li>
      <li>Sleep = No alarms +  8-9 hours + Circadian Rhythms</li>
      <li>Exercise = High Intensity Resistance Training + Yoga &amp; Meditation + Sports + Rest</li>
      <li>Balanced Diet = Natural Whole Foods + Intermittent Fasting </li>
      <li>Financial Capital = Income + Invested Savings * (Return on Investment) </li>
      <li>Return on Investment = Buy-and-Hold Strategy + Market Valuation + Margin of Safety</li>
      <li>Time in Market >> Timing the Market</li>
      <li>Income = Accountability + Leverage + Specific Knowledge</li>
      <li>Accountability =  Extreme Ownership + Personal Branding  + Risk Taking.</li>
      <li>Leverage = Capital + People + Intellectual Property</li>
      <li>Specific Knowledge = Having the ability to execute something that is not yet easily teachable by society.</li>
    </ul>
  </div>
</section>
