<section class="section background">
  <div class="section__title"> <i class="fas fa-address-card"> </i> Life Formulas </div>
  <div class="section__content">
    <p>Pain + Reflection = Progress</p>
    <p>Dreams + Failure + Perservarence = Prosperity</p>
    <p>Patience + Righteousness + Courage => Success</p>
    <p>Consistency &gt;&gt; Motivation &amp; Direction  &gt;&gt; Speed &amp; Actions  &gt;&gt; Words</p>
    <p>Happiness =  Wealth + Great Relationships + Spiritual Contentment</p>
    <p>Wealth = Health + Financial Capital + Time + Freedom.</p>
    <p>Health = Balanced Diet +  Exercise  + Sleep </p>
    <p>Sleep = No alarms +  8-9 hours + Circadian Rhythms</p>
    <p>Exercise = High Intensity Resistance Training + Yoga &amp; Meditation + Sports + Rest</p>
    <p>Balanced Diet = Natural Whole Foods + Intermittent Fasting </p>
    <p>Financial Capital = Income + Invested Savings * (Return on Investment) </p>
    <p>Return on Investment = Buy-and-Hold + Valuation + Margin of Safety</p>
    <p>Income = Accountability + Leverage + Specific Knowledge</p>
    <p>Accountability =  Extreme Ownership + Personal Branding  + Taking Risk.</p>
    <p>Leverage = Capital + People + Intellectual Property</p>
    <p>Specific Knowledge = Knowing how to do something that society cannot yet easily train other people to do</p>
  </div>
</section>
