<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js' type="text/javascript" charset="utf-8"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
<script src="js/typed.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
  var hello = new Typed('#typed', {
    stringsElement: '#hello-strings',
    smartBackspace: true,
    typeSpeed: 80,
    loop: true,
    loopCount: Infinity,
  });

  var typed = new Typed('#typed-intro', {
    stringsElement: '#typed-strings',
    smartBackspace: true,
    typeSpeed: 30,
    loop: true,
    loopCount: Infinity,
  });
</script>