
 <section id= "social">
 <div class="social-list" style="text-align: center;">
  <ul>
    <li><a title="Connect on Goodreads" class="icon" href="https://www.goodreads.com/udaymahajan242" target="_blank" data-original-title="Goodreads"> <i class="fab fa-goodreads"></i> </a></li>
    <li><a title="Connect on LinkedIn" class="icon" href="https://www.linkedin.com/in/udaymahajan242" target="_blank" data-original-title="LinkedIn"> <i class="fab fa-linkedin"></i> </a></li>
    <li><a title="Message securely using Signal" class="icon" href="#contact" data-original-title="Signal App" onclick="contactMessage()"><i class="fa fa-comment"></i></a></li>
    <li><a  title="Add on Facebook" class="icon" href="https://secure.facebook.com/udaymahajan242" target="_blank" data-original-title="Facebook"><i class="fab fa-facebook" ></i></a></li>
    <li><a title="Message on Messenger" class="icon" href="https://m.me/udaymahajan242" target="_blank" data-original-title="Messenger"><i class="fab fa-facebook-messenger"></i></a></li>
    <li><a title="Follow on Instagram" class="icon" href="https://www.instagram.com/udaymahajan242" target="_blank" data-original-title="Instagram"><i class="fab fa-instagram"></i></a></li>
    <li><a title="Contact via WhatsApp" class="icon" href="#contact" data-original-title="WhatsApp" onclick="contactMessage()"><i class="fab fa-whatsapp"></i></a></li>
    <li><a title="Follow on Twitter" class="icon" href="https://www.twitter.com/udaymahajan242" target="_blank" data-original-title="Twitter"><i class="fab fa-twitter"></i></a></li>
    <li><a title="Add on Snapchat" class="icon" href="https://www.snapchat.com/add/udaymahajan242" target="_blank" data-original-title="Snapchat"><i class="fab fa-snapchat-ghost"></i></a></li>
    <li><a title="Contact on Telegram" class="icon" href="https://t.me/udaymahajan242" target="_blank" data-original-title="Telegram"><i class="fab fa-telegram"></i></a></li>
    <li><a title="View on GitHub" class="icon" href="https://github.com/udaymahajan242" target="_blank" data-original-title="Github"> <i class="fab fa-github"></i> </a></li>
    <li><a title="View on GitLab" class="icon" href="https://gitlab.cs.washington.edu/udaym242" target="_blank" data-original-title="Gitlab UW CSE"> <i class="fab fa-gitlab"></i> </a></li>
    <li><a title="Add on Skype" class="icon" href="skype:udaymahajan242?add" target="_blank" data-original-title="Skype"><i class="fab fa-skype"></i></a></li>
    <li><a title="Follow on Spotify" class="icon" href="https://open.spotify.com/user/udaymahajan242" target="_blank" data-original-title="Spotify"><i class="fab fa-spotify"></i></a></li>
    <li><a title="E-mail Uday" class="icon" href="#contact"  data-original-title="E-mail"><i class="fa fa-envelope-square"></i></a></li>
    <li><a title="Call or Message using Cellular" class="icon" href="#contact" data-original-title="Call" onclick="contactMessage()"><i class="fas fa-phone-square"></i></a></li>
    <li><a title="Pay/Request on Paypal" class="icon" href="https://www.paypal.me/udaymahajan242" target="_blank" data-original-title="Goodreads"> <i class="fab fa-venmo"></i> </a></li>
  </ul>
</div>
</section>